/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.section{
    background-color: white;
}

:root{
    --red-color: #580d11;
}

body{
    /* color: black; */
    width: 100%;
}

/* #region Title */

#title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    color: var(--red-color);
}

#title-heading{
    position: relative;
    color: var(--red-color);
    text-decoration: none;
}
  
#title-heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red-color);
    transform: scaleX(1);
    animation: openUnderline 2s ease;
}

@keyframes openUnderline {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* #endregion Title */

/* #region Slider Section */

#ambientet-section{
    padding-top: 0;
}

#ambientet-section main{
    display: flex;
    justify-content: center;
}

.swiper {
    width: 92%;
    height: 35vw;
}

#slide1{
    background-image: url("../images/ambientet\ \(5\).jpeg");
    background-size: cover;
}

#slide2{
    background-image: url("../images/ambientet\ \(2\).jpeg");
    background-size: cover;
}

#slide3{
    background-image: url("../images/ambientet\ \(3\).jpeg");
    background-size: cover;
}

#slide4{
    background-image: url("../images/ambientet\ \(4\).jpeg");
    background-size: cover;
}

#slide5 {
    background-image: url("../images/ambientet \(1\).jpeg");
    background-size: cover;
}

#slide6 {
    background-image: url("../images/ambientet \(6\).jpeg");
    background-size: cover;
}

#slide7 {
    background-image: url("../images/ambientet \(7\).jpeg");
    background-size: cover;
}

#slide8 {
    background-image: url("../images/ambientet \(8\).jpeg");
    background-size: cover;
}

#slide9 {
    background-image: url("../images/ambientet \(9\).jpeg");
    background-size: cover;
}

#slide10 {
    background-image: url("../images/ambientet \(10\).jpeg");
    background-size: cover;
}

#slide11 {
    background-image: url("../images/ambientet \(11\).jpeg");
    background-size: cover;
}

#slide12 {
    background-image: url("../images/ambientet \(12\).jpeg");
    background-size: cover;
}

#slide13 {
    background-image: url("../images/ambientet \(13\).jpeg");
    background-size: cover;
}

#slide14 {
    background-image: url("../images/ambientet \(14\).jpeg");
    background-size: cover;
}

#slide15 {
    background-image: url("../images/ambientet \(15\).jpeg");
    background-size: cover;
}

#slide16 {
    background-image: url("../images/ambientet \(16\).jpeg");
    background-size: cover;
}

#slide17 {
    background-image: url("../images/ambientet \(17\).jpeg");
    background-size: cover;
}

#slide18 {
    background-image: url("../images/ambientet \(18\).jpeg");
    background-size: cover;
}

#slide19 {
    background-image: url("../images/ambientet \(19\).jpeg");
    background-size: cover;
}

#slide20 {
    background-image: url("../images/ambientet \(20\).jpeg");
    background-size: cover;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
}

.swiper-pagination-bullet{
    background-color: white !important;
}

/* #endregion Slider Section */

/* #region Info Ambientet*/

#info-ambientet-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background-ambientet.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    height: auto;
}

#info-ambientet-container{
    background-color: rgba(255, 255, 255, 0.253);
    color: white;
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-ambientet{
    width: 75%;
}

#ambientet-list{
    list-style: disc;
}

/* #endregion Info Ambientet*/