/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.section{
    background-color: white;
}

:root{
    --red-color: #580d11;
}

body{
    color: #afb6cd;
    width: 100%;
}

/* #region Title */

#title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    color: var(--red-color);
}

#title-heading{
    position: relative;
    color: var(--red-color);
    text-decoration: none;
}
  
#title-heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red-color);
    transform: scaleX(1);
    animation: openUnderline 2s ease;
}

@keyframes openUnderline {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* #endregion Title */

/* #region Contacts */

#contacts-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

#contacts-section main{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

#contacts-info-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacts-grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4rem;
}

.contacts-item{
    padding: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    height: 5rem;
    border-bottom: 2px #afb6cd solid;
}


.contacts-item i{
    color: var(--red-color);
}

.contact-link{
    width: 100%;
    padding-left: 3rem;
}


/* #endregion Contacts */

/* #region Resposivity */

@media screen and (max-width: 1250px) {
    #contacts-section main{
        flex-direction: column;
        align-items: center;
    }

    #contacts-info-holder{
        width: 55%;
    }

    #contacts-grid{
        column-gap: 2rem;
    }

    #location-holder{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1250px) {
    #contacts-info-holder{
        width: 65%;
    }
}

@media screen and (max-width: 900px) {
    #contacts-info-holder{
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #contacts-info-holder{
        width: 80%;
    }

    #location-holder{
        width: 80%;
    }

    #location-holder iframe{
        width: 80vw;
    }

    #contacts-grid{
        grid-template-columns: auto;
        column-gap: 2rem;
    }
}

@media screen and (max-width: 370px) {
    #title-section{
        padding-top: 9rem;
    }
}

@media screen and (max-width: 300px) {
    .contact-link{
        width: 60%;
        padding-left: 0.8rem;
    }

    .contacts-item{
        border-bottom: none;
    }
}

/* #endregion Resposivity */