/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.section{
    background-color: white;
}

:root{
    --red-color: #580d11;
}

body{
    /* color: black; */
    width: 100%;
}

/* #region Title */

#title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    color: var(--red-color);
}

#title-heading{
    position: relative;
    color: var(--red-color);
    text-decoration: none;
}
  
#title-heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red-color);
    transform: scaleX(1);
    animation: openUnderline 2s ease;
}

@keyframes openUnderline {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* #endregion Title */

/* #region Facts */

#facts-section main{
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
}

/* #chart-container{
    pointer-events: none;
} */

.anychart-credits{
    display: none;
}

#table-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#table-container ul{
    padding-left: 20px;
    list-style: disc;
}

#table-container table tr td{
    padding: 3px;
}

/* #endregion Facts */