html{
    background-color: white;
}
.main{
    background-color: white;
}
#main-section{
  position: relative;
  top: 1.4rem;
  padding-bottom: 0;
}

.titleheading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: var(--red-color);
    background-color: white;
    font-size: 3vh;
}
#partnerheading {
    position: relative;
    color: var(--red-color);
    text-decoration: none;
}
#partnerheading::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(1);
    background-color: var(--red-color);
    animation: openUnderline 2s ease;
}
@keyframes openUnderline {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}
.content{
    margin: 5vh;
    margin-top: 5px;
    padding: 2vh;
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
}

.card {
    position: relative;
    max-width: 26em;
    margin: 2rem auto;
    padding: 2em;
    background: #fff;
    border: 2px solid rgb(104, 104, 104);
  }
  
  .card__title {
    margin: 0 auto 1em;
    color: #333;
    text-align: center;
    text-transform: capitalize;
  }
  
  .card__img {
    top: 0;
    width: 100%;
    border-radius: 10px;
  }
  .card__text {
    margin: 2em 5%;
    color: #646464;
  }
  
  .card__btn {
    display: table;
    padding: .7em 4em;
    background: #ddba76;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em auto 0;
  }
  .card__btn:hover{
    background: #f0d59f ;
  }
  
  .card--9 {
    background: #fff;
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }
.footer{
  position: absolute;
  padding-bottom: 50px;
  width: 100%;
}

@media screen and (max-width: 1366px){
  .content{
    margin: 5vh;
    margin-top: 5px;
    padding: 2vh;
    display: grid;
    grid-template-columns: auto auto;
    color: black;
}
}
@media screen and (max-width: 850px){
  .content{
    margin: 5vh;
    margin-top: 5px;
    padding: 2vh;
    display: grid;
    grid-template-columns: auto auto;
    color: black;
}
  .card{
    max-width: 22em;
    font-size: 1.3vh;
  }
}
@media screen and (max-width: 720px){
  .content{
    margin: 2vh;
    margin-top: 5px;
    padding: 2vh;
    display: grid;
    grid-template-columns: auto auto;
    color: black;
}
  .card{
    max-width: 20em;
    font-size: 1.2vh;
  }
}
@media screen and (max-width: 500px){
  .content{
    margin: 1.5vh;
    margin-top: 5px;
    padding: 2vh;
    display: grid;
    grid-template-columns: auto;
    color: black;
}
  .card{
    max-width: 23em;
    font-size: 1.5vh;
  }
}