* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

/* REGION MAIN */
.main h5 {
    color: var(--lighter-red-color);
    font-size: 1.25vw;
}

.main {
    position: relative;
    margin: 6.5rem auto 0;
    padding-bottom: 0;
    width: 80vw;
}

.main h1 {
    font-size: 3vw;
    text-align: left;
}

.main h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 1vw;
}

#introduction-text {
    margin: 2vw auto 1.5vw;
    padding-left: 1vw;
    border-left: 0.3vw solid var(--lighter-red-color);
    font-size: 1.5vw;
}

.text-container {
    margin: 2vh auto 3vh;
}

.bottom-text {
    width: 60vw;
    font-size: 1.5vw;
}

.bottom-section {
    margin-top: 5vw;
    display: flex;
}

.bottom-section p {
    text-align: justify;
}

.bottom-section h1 {
    font-size: 1vw;
    color: gray;
}

.related-articles {
    border-top: 0.3vw solid #999999;
    width: 25vw;
    margin-left: 5vw;
}

.mini-article {
    display: flex;
    gap: 1vw;
    margin-top: 2vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #808080b9;
}

.mini-article img {
    width: 4vw;
    height: 4vw;
}

.mini-article h4 {
    color: var(--lighter-red-color);
    font-size: 0.75vw;
}

/* ENDREGION MAIN */

/* swiper */


.swiper {
    width: 80vw;
    height: 80vh;
    color: #fff;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev {
    color: #af171f !important;
    transition: color 0.3s ease;
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: #580d11 !important;
  }
  
  .swiper-button-next::before,
  .swiper-button-prev::after {
    font-size: 35px;
  }
  
/* swiper end */

@media screen and (max-width: 768px) {
    .main {
        margin-top: 7.5rem;
    }

    .main h1 {
        font-size: 4vw;
    }

    .main h2 {
        font-size: 1.5vw;
    }

    .main h5 {
        font-size: 2vw;
    }

    .bottom-text,
    #introduction-text {
        font-size: 2.5vw;
        margin: 0 0 2vw;
    }

    .swiper {
        height: 40vw;
    }

    .mini-article h3 {
        font-size: 1.75vw;
    }

    .titleAndDate h4 {
        font-size: 1vw;
    }

    .related-articles h1 {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 480px) {
    .main {
        margin-top: 7.5rem;
    }

    .main h2 {
        font-size: 2vw;
    }
    .main h5{
        font-size: 4vw;
    }
    .bottom-text,
    #introduction-text {
        font-size: 3.6vw;
    }
    .swiper {
        height: 60vw;
    }
    .related-articles h1 {
        font-size: 1.8vw;
    }
    .bottom-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bottom-text{
        font-size: 4vw;
        width: 80vw;
    }
    .project-title{
        font-size: 5.5vw !important;
    }
    .related-articles{
        margin-left: 0;
        margin-top: 10vw;
        width:80vw;
    }
    .related-articles h1{
        font-size: 4vw;
    }
    .mini-article h3{
        font-size: 4vw;
    }
    .mini-article h4{
        margin-top: 2.5vw;
        font-size: 4vw;
    }
    .mini-article img{
        width: 30vw;
        height: 100%;
    }
}